/*폰트*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

/*공통*/
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
img,
video {
  display: block;
  width: 100%;
  height: auto;
}
html,
body {
  font-size: 16px;
}

/*header*/
.header {
  display: flex;
  transition: background-color 0.3s;
  &.bgChange {
    background-color: #fff;
  }
  > ul {
    display: flex;
    align-items: end;
    &.header_lnb {
      font-family: "Oswald", sans-serif;
    }
    &.header_gnb {
      li {
        a {
          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
  }
}

/*main*/

.visual_main {
  width: 100%;
  > video {
    width: 100%;
  }
}

/* contents01 */
.contents01 {
  width: 100%;
  background-image: url(./images/modularstats-back.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: centerx;
  background-size: cover;
  .con01 {
    > h2 {
      text-align: center;
    }
    .con01_number_box {
      max-width: 700px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .con01_number {
        width: calc(33% - 1.125rem);
        padding: 1.125rem;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-direction: column;
        .con01_count01 {
          font-size: 2.25rem;
          font-weight: bold;
          color: #b51029;
          &::after {
            content: "%";
            color: #9f9f9f;
          }
        }
        .club_title {
          font-size: 0.875rem;
          font-weight: bold;
        }
        .club_subtitle {
          font-size: 0.75rem;
          color: #9f9f9f;
          > .con01_count02 {
            margin-left: 5px;
            color: #b51029;
            font-weight: bold;
            &::after {
              content: "%";
              color: #9f9f9f;
            }
          }
        }
      }
    }
    > p {
      text-align: center;
      font-size: 0.875rem;
      color: #4c4c4c;
      padding: 40px 0 0 0;
      box-sizing: border-box;
    }
  }
}
.contents02 {
  display: flex;

  .con02_left {
    width: 50%;
  }
  .con02_right {
    width: 50%;
  }
}

/* 미디어쿼리 */
@media all and (min-width: 320px) and (max-width: 800px) {
  .header {
    height: 55px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 5px;
    &::before {
      content: " ";
      width: 100%;
      height: 20px;
      background-color: #ccc;
      position: absolute;
      top: 0;
    }
    .header_lnb {
      width: 33%;
      order: 1;
      justify-content: start;
      position: relative;
      > ul {
        &:nth-child(1) {
          position: relative;
          bottom: 0;
          width: 2.03125rem;
          height: 1.7875rem;
          display: inline-block;
          transition: all 0.4s;
          box-sizing: border-box;
          margin: 0 0 3px 5px;
          > span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: black;
            border-radius: 4px;
            display: inline-block;
            transition: all 0.4s;
            box-sizing: border-box;
            &:nth-child(1) {
              top: 0;
            }
            &:nth-child(1) {
              top: 14px;
            }
            &:nth-child(3) {
              bottom: 0;
            }
          }
          &.active > span {
            &:nth-child(1) {
              transform: translateY(0px) rotate(-45deg);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: translateY(-12px) rotate(45deg);
            }
          }
        }
        &:nth-child(2) {
          display: none;
          position: relative;
          width: 100vw;
          background-color: #fff;
          &.openLnb {
            position: absolute;
            bottom: calc(-167px - 70px - 7px - 5px);
            display: flex;
            flex-direction: column;
            > li {
              width: 100%;
              padding: 5px 0;
              text-align: center;
              border-top: 1px solid #eee;
            }
          }
        }
      }
    }
    .header_logo {
      order: 2;
      width: 33%;
      justify-content: center;
      > a {
        width: 110px;
      }
    }
    .header_gnb {
      order: 3;
      width: 33%;
      justify-content: end;
    }
  }
  .wrap {
    .visual_main {
      position: static;
    }
    .contents01 {
      padding: 40px 1.5em;
      box-sizing: border-box;
      .con01 {
        .con01_number_box {
          width: 75%;
        }
      }
    }
  }
}
@media all and (min-width: 801px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 9999999999999999999;
    box-sizing: border-box;
    justify-content: space-between;
    .header_logo {
      max-width: 190px;
      margin-left: 20px;
      margin-top: 10px;
    }
    .header_lnb {
      width: 100%;
      padding-bottom: 5px;
      > ul:nth-child(2) {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        > li {
          > a {
            color: #000;
            display: inline-block;
            margin: 0;
            text-transform: uppercase;
            &:after {
              display: block;
              content: "";
              border-bottom: solid 1px #ea2129;
              transform: scaleX(0);
              transition: transform 250ms ease-in-out;
            }
            &:hover:after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
    .header_gnb {
      justify-content: space-evenly;
      width: 12.5rem;
    }
  }
  .wrap {
    width: 100%;
    position: absolute;
    top: 0;
    .contents01 {
      padding: 40px 2em;
      box-sizing: border-box;
      width: 100%;
      > .con01 {
        max-width: 62.5rem;
        margin: 0 auto;
      }
    }
    .contents02 {
      padding: 40px 2em;
      box-sizing: border-box;
    }
  }
}
@media all and (min-width: 1024px) {
  .header {
    padding: 2.8125rem 10rem 0;
    .header_logo {
      min-width: 190px;
    }
  }
}

@media all and (min-width: 1920px) {
  .visual_main {
    height: 58.5625rem;
    overflow: hidden;
  }
}
